audio::-webkit-media-controls-play-button {
    display: none;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
    /* --tw-bg-opacity: 1; */
    background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
    color: #fff;
    border:  none;
}

audio {
    background-color: none;
    color: #fff;
}

audio::-webkit-media-controls-volume-slider-container,
audio::-webkit-media-controls-volume-slider{
    color: #fff;
}